<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<bean id="resAction" class="pygman.invoice.auth.res.web.ResAction"
		scope="prototype">
		<property name="resEbi" ref="resEbi" />
	</bean>

	<bean id="resEbi" class="pygman.invoice.auth.res.business.ebo.ResEbo">
		<property name="resDao" ref="resDao" />
	</bean>

	<bean id="resDao" class="pygman.invoice.auth.res.dao.impl.ResImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
