<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">  
	<!-- Action -->
	<bean id="storeModelAction" class="pygman.invoice.invoice.web.StoreModelAction" scope="prototype">
		<property name="storeModelEbi" ref="storeModelEbi"/>
	</bean>

	<!-- Ebi -->
	<bean id="storeModelEbi" class="pygman.invoice.invoice.business.ebo.StoreModelEbo">
		<property name="storeModelDao" ref="storeModelDao"/>
	</bean>

	<!-- Dao -->
	<bean id="storeModelDao" class="pygman.invoice.invoice.dao.impl.StoreModelImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
